<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cocote>
            <general>
                <map_name>name</map_name>
                <map_mpn>sku</map_mpn>
                <map_gtin></map_gtin>
                <map_description>description</map_description>
                <map_manufacturer>manufacturer</map_manufacturer>
                <producer>non</producer>
                <shipping>{"_1535235759429_429":{"type":"Collissimo","delay":"-3d","value_from":"9.45","free_after":"59"}}</shipping>
            </general>
            <location>
                <place_online_road>10 Place Charles de Gaulle</place_online_road>
                <place_online_city>Paris</place_online_city>
                <place_online_zipcode>75008</place_online_zipcode>
                <place_online_the_same>1</place_online_the_same>
            </location>
            <generate>
                <path>feed</path>
            </generate>
        </cocote>
    </default>
</config>